/* .navbar-link img {
    margin-right: 5px;
    width: 10%;  /* Example: 1.5 times the font size of the parent element */

    /* Additional image styles */
  
  .vl {
    border-left: 1px solid green;
    height: 20px;
  }
  .footer-title{
    font-family:"montserrat","sans-serif";
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #D9D82C;
  }
  .footerDiv li a{
    color:hsla(0,0%,100%,.9);
    list-style-type: none;

  }
  .footerDiv li a a{
    color:hsla(0,0%,100%,.9);
    list-style-type: none;

  }
  .Socialmedia{
    height: 22px;
    width: 22px;
  }
  .seviceimg{
    width: 17px;
    height: 17px;
  }